*{
    box-sizing: border-box;
    text-align: center;
    /* outline: 1px dotted black; */
}
.body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.header{
    background-image: url("../images/background.jpg");
    height: 100%;
    background-size: contain;
    background-repeat: round;
}
.nextTrain{
    color: red;
}